* {
    margin: 0px;
    padding: 0px;
} 

.caja{
    background-image: url(../img/fondo\ numero\ 2.png);
    width: 70%;
    position: relative; left: 13%;
    height: 160vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.caja2{
    
    width: 36%;
    height: 30vh;
    position: relative; top: 10%; left: 28%;
}
.contenedor{
    background-color: black;
    width: 100%;  
    height: 4.75vh;
    position: absolute;
}
.menu{
    font-family: Arial, Helvetica, sans-serif; 
}
.menu > ul, li{
    list-style: none;
}
.menu li a{
    text-decoration: none;
    background-color: black;
    padding: 20px 25px;
    display: block;
    color: white;
}
.menu li a:hover{
    background-color:#434343;
}
.menu li:hover > ul{
    display: block;
}
.menu > li{
    float: left;
}
.menu li ul{
    display: none;
}
body{
    background-image: url(../img/grieta\ del\ invocador.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
}
.parrafo{
    width: 67%; height: 115vh; background-image: url(../img/fondo\ numero\ 3.png); color: white; border: 1px #434343;
    border-radius: 20px;
    border: 8px solid black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
#parrafo1{
    position: relative; top: 10%; left: 15%;text-align: left;
}
.copyright-box {
    width: 97.8%;
    height: 20vh;
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
    position: relative; top: 20%;
}
#logofinal{
    width: 15%;
    height: 20vh;
    position: relative; bottom: 30%; right: 1%;
}  
.boton{
    background-color: royalblue;
    border-radius: 10px;
    text-decoration: none;
    display: block;
    width: 12%;
    padding: 10px 20px;
    text-align: center;
    color: white;   
    float: left;
    margin: 1%;
}
.cajaredonda{
  width: 13%;
  height: 13vh;
  border-radius: 50%;
  border: 10px solid royalblue;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  float: left;
  margin: 5%;
  
}
#posicioncaja{
    position: relative; top: 10%;

}
#temo{
    position: relative; left: 37%; top: 7%;
}
.textoinicial{
    width: 70%;
    height: 10vh;
    position: relative; top: 9%; left: 14%;
}
.recuadro{
    background-color: rgb(10, 10, 165);
    border: 9px solid royalblue;
    width: 19%;
    height: 20vh;
    float: left;
    margin: 2%;
    text-align: center;
    border-radius: 10%;
}
.recuadro2{
    background-color: rgb(10, 10, 165);
    border: 9px solid royalblue;
    width: 19%;
    height: 20vh;
    float: left;
    margin: 2%;
    text-align: center;
    border-radius: 10%;
    position: relative; top: 25%; left: 12%;
}