table{
    border: 2px solid black; border-collapse: collapse;
}
tr{
    border: 2px solid black;
}
td{
    border: 2px solid black ; width: 300px;
}
#primerafila{
     height: 50px; background-color: rgb(236, 236, 85); color: blue;
}
#tercerafila{
    height: 125px;
}
#cuartafila{
    background-color: grey; color: black;
}