table{
    border: 4px solid yellow; border-collapse: collapse;
}
td{
    border: 3px solid black;
}
#celda1{
    height: 90px; background-color: gray;
}
#mercurio{
    height: 60px;
}
#filafinal{
    height: 150px; background-color: blueviolet; color: aqua;
}
#planetajov{
    height: 150px; background-color: aqua; color: blueviolet;
}
#celda2{
    width: 150px; background-color: gray;
}
#planetasterrestres{
    color: brown; background-color: greenyellow;
}
#venus{
    background-color: greenyellow; color: brown;
}
#latierra{
    background-color: greenyellow; color: brown;
}
#marte{
    background-color: greenyellow; color: brown;
}
#gigantedegas{
    background-color: aqua; color: blueviolet;
}
#gigantedehielo{
    background-color: aqua; color: blueviolet;
}
#jupiter{
    background-color: aqua; color: blueviolet;
}
#saturno{
    background-color: aqua; color: blueviolet;
}
#neptuno{
    background-color: aqua; color: blueviolet;
}
#pluton{
    background-color: blueviolet; color: aqua;
}
#urano{
    background-color: aqua; color: blueviolet;
}