* {
    margin: 0px;
    padding: 0px;
} 

.caja{
    background-image: url(../img/fondo\ numero\ 2.png);
    width: 70%;
    position: relative; left: 13%;
    height: 170vh;
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.caja2{
    
    width: 36%;
    height: 30vh;
    position: relative; top: 10%; left: 28%;
}
.parrafo{
    width: 70%; height: 107vh; background-image: url(../img/fondo\ numero\ 3.png); color: white; border: 1px #434343;
    border-radius: 20px;
    border: 8px solid black;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
}
#parrafo1{
    position: relative; top: 10%; left: 15%;text-align: left;
    
}
.contenedor{
  background-color: black;
  width: 100%;  
  height: 4.54vh;
  position: absolute;
}

.menu{
    font-family: Arial, Helvetica, sans-serif; 
}

.menu > ul, li{
    list-style: none;
}
.menu li a{
    text-decoration: none;
    background-color: black;
    padding: 20px 25px;
    display: block;
    color: white;
}
.menu li a:hover{
    background-color:#434343;
}
.menu li:hover > ul{
    display: block;
}
.menu > li{
    float: left;
}
.menu li ul{
    display: none;
}
body{
    background-image: url(../img/grieta\ del\ invocador.webp);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    
}

#logo{
    position: relative;  left: 14%; bottom: 30%; width: 470px; height: 470px;

}
#equipo{
    position: relative; left: 20%; top: 5%; width: 400px; height: 268px;
}
h1{
position: relative; left: 15%;
font-family: fantasy;
color: solid black;
}
#bienvenidos{
    border: 10px solid black;
    height: 4vh;
    width: 100%;
    background-color: royalblue;
}
#cajadetexto{
    
    width: 80%;
    height: 90vh;
    position: relative; left: 10%; top: 10%;
}
.boton{
    background-color: royalblue;
    border-radius: 10px;
    text-decoration: none;
    display: block;
    width: 12%;
    padding: 10px 20px;
    text-align: center;
    color: white;   
}
.copyright-box {
    width: 97.8%;
    height: 18vh;
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
    position: relative; top: 12%;
}
#logofinal{
    width: 15%;
    height: 20vh;
    position: relative; bottom: 30%; right: 1%;
} 
.bordeimagen{
    border: 10px solid royalblue;
} 
